<div class="row m-2">
  <div class="password-form-container col-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Current Password</label>
          <input formControlName="oldPassword" type="password" class="form-control" placeholder="Current Password" (keyup)="controlChanged('oldPassword')">
          <span *ngIf="uiErrors.oldPassword != ''" class="text-danger">{{uiErrors.oldPassword}}</span>
        </div>
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-6">
          <label for="newPassword">New Password</label>
          <input formControlName="newPassword" type="password" class="form-control" placeholder="New Password" (keyup)="controlChanged('newPassword')">
          <span *ngIf="uiErrors.newPassword != ''" class="text-danger">{{uiErrors.newPassword}}</span>
        </div>
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-6">
          <label for="confirmNewPassword">Confirm Password</label>
          <input formControlName="confirmNewPassword" type="password" class="form-control" placeholder="Confirm Password" (keyup)="controlChanged('confirmNewPassword')">
          <span *ngIf="uiErrors.confirmNewPassword != ''" class="text-danger">{{uiErrors.confirmNewPassword}}</span>
        </div>
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-12">
          <button mat-flat-button type="submit" class="auth-button" [disabled]="submitting">
            <span *ngIf="!submitting">Update Password</span>
            <mat-spinner *ngIf="submitting" [diameter]="30"></mat-spinner>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
