<div class="row mb-3">
  <div class="col-md-12">
    <a routerLink="/auth/login" class="pull-right text-primary">
      Login Instead >
    </a>
    <h1>Create Account</h1>
    <!-- <p></p> -->
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-12">
    <span class="text-muted font-weight-bold">Sign up with your BVN to help you get started</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
      <div class="form-group has-search">
        <label for="bvn" *ngIf="myForm.get('bvn')?.value">BVN</label>
        <!-- <span class="fa fa-2x fa-question-circle-o form-control-feedback"></span> -->
        <mat-icon class="form-control-feedback" style="margin-right: 0.5rem; color: rgba(0, 0, 0, 0.54);"
            matTooltip="Your BVN: You can dial *565*0# to get it"
            aria-label="Your BVN goes here: You can dial *565*0# to get it">help_outline</mat-icon>
        <input id="bvn" formControlName="bvn" class="form-control" type="text" placeholder="Enter your BVN" (keyup)="controlChanged('bvn')" />
        <span *ngIf="uiErrors.bvn != ''">{{uiErrors.bvn }}</span>
      </div>
      <div class="form-group has-search">
        <label for="dob" *ngIf="myForm.get('dob')?.value">Date Of Birth (DD/MM/YYYY)</label>
        <mat-datepicker-toggle matSuffix [for]="picker" class="form-control-feedback" style="margin: 0;"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input formControlName="dob" class="form-control" placeholder="Date Of Birth (DD/MM/YYYY)" matInput [matDatepicker]="picker" (keyup)="controlChanged('dob')" (click)="picker.open()" />
        <span *ngIf="uiErrors.dob">{{uiErrors.dob }}</span>
      </div>
      </div>
    </div>
        <!-- <div class="form-group">
          <label for="email" *ngIf="myForm.get('firstName').value">First Name</label>
          <input formControlName="firstName" class="form-control" type="text" placeholder="First Name" (keyup)="controlChanged('firstName')" />
          <span *ngIf="uiErrors.firstName != ''">{{uiErrors.firstName }}</span>
        </div>
        <div class="form-group">
          <label for="email" *ngIf="myForm.get('lastName').value">Surname</label>
          <input formControlName="lastName" class="form-control" type="text" placeholder="Surname" (keyup)="controlChanged('lastName')" />
          <span *ngIf="uiErrors.lastName != ''">{{uiErrors.lastName }}</span>
        </div> -->
      <!-- <div class="form-group">
        <button type="submit" class="auth-button">
          <span *ngIf="!submitting">Continue</span>
          <mat-spinner *ngIf="submitting"  [diameter]="30"></mat-spinner>
        </button>
      </div> -->

      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="auth-button w-100" [disabled]="submitting">
            <span *ngIf="!submitting">Continue</span>
            <mat-spinner *ngIf="submitting" [diameter]="30" class="mx-auto" color="accent"></mat-spinner>
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
            <a data-toggle="collapse" href="#collapseExample" role="button" class="text-primary" aria-expanded="false" aria-controls="collapseExample">
              Why do we need your BVN?
            </a>
        </div>
        <div class="col-md-6">
          <strong class="pull-right"><a routerLink="/auth/verify-otp" class="text-primary">Verify OTP</a></strong>
        </div>
      </div>
      <div class="row">

        <div class="collapse" id="collapseExample">
          <div class="card card-body text-muted">
            We only need to access some of your information.<br />
            <ul>
              <li>Names</li>
              <li>Phone Number</li>
              <li>Date of Birth</li>
              <li>Email Address</li>
            </ul>
                Your BVN does not give us access to your bank account or transactions<br>
                You can dial *565*0# to get it
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
