<div class="row mb-3">
  <div class="col-md-12">
    <a routerLink="/auth/signup" class="pull-right text-primary">
      Create an account
    </a>
    <h1>Login</h1>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-12">
    <span class="text-muted font-weight-bold">Sign in with your email and password</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" *ngIf="myForm.get('email')?.value">Email</label>
        <input formControlName="email" id="email" class="form-control" type="email" placeholder="Email" (keyup)="controlChanged('email')" />
        <span class="form-text" *ngIf="uiErrors.email">{{uiErrors.email }}</span>
      </div>
      <div class="form-group has-search">
        <label for="email" *ngIf="myForm.get('password')?.value">Password</label>
        <span (click)="container['fieldTextType'] = !container['fieldTextType']" class="fa form-control-feedback" [ngClass]="{
          'fa-eye-slash': !container['fieldTextType'],
          'fa-eye': container['fieldTextType']
        }"></span>
        <input formControlName="password" [type]="container['fieldTextType'] ? 'text' : 'password'"
            class="form-control" placeholder="Password" (keyup)="controlChanged('password')" />
        <span *ngIf="uiErrors.password">{{uiErrors.password }}</span>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <input class="d-md-inline" formControlName="rememberMe" type="checkbox" /> Remember Me
          </div>
          <div class="col-md-6">
            <strong class="pull-right"><a routerLink="/auth/forgot-password" class="text-primary">Reset Password</a></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="auth-button w-100" [disabled]="submitting">
              <span *ngIf="!submitting">Login</span>
              <mat-spinner *ngIf="submitting" class="mx-auto" color="accent" [diameter]="30"></mat-spinner>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
