<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-3">Overview</h3>
          <div class="row">
            <div class="col-md-6">
              <p class="text-muted font-weight-bold">Application Status</p>
            </div>
            <div class="col-md-6">
              <p class="font-weight-bolder" [ngClass]="share?.openForPurchase ? 'text-success' : 'text-danger'">
                {{share?.openForPurchase ? "Open" : "Closed"}}</p>
            </div>
            <div class="col-md-6">
              <p class="text-muted font-weight-bold">Offering Type</p>
            </div>
            <div class="col-md-6">
              <p class="text-dark font-weight-bold text-uppercase">
                {{share?.type == 'ipo'? 'Public Offer' : share?.type}}</p>
            </div>
            <div class="col-md-6">
              <p class="text-muted font-weight-bold">Share Price</p>
            </div>
            <div class="col-md-6">
              <p class="text-dark font-weight-bold">
                {{share?.sharePrice ? (share?.sharePrice | currency:share?.currency:'symbol-narrow') : 'Pending Price Discovery'}}
              </p>
            </div>
            <div class="col-md-6">
              <p class="text-muted font-weight-bold">Shares Avaliable for Sale</p>
            </div>
            <div class="col-md-6">
              <p class="text-dark font-weight-bold">{{share?.availableShares | number}}</p>
            </div>
            <!-- <div class="col-6">
              <p class="text-muted font-weight-bold">Maximum Price</p>
              <p class="text-dark font-weight-bold">{{share?.anticipatedMaxPrice | number}}</p>
            </div> -->
            <div class="col-md-6">
              <p class="text-muted font-weight-bold">Minimum Price</p>
            </div>
            <div class="col-md-6">
              <p class="text-dark font-weight-bold">
                {{share?.anticipatedMinPrice | currency:share?.currency:'symbol-narrow'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="min-height: 316px;">
        <div class="card-body">
          <div class="row term-and-agreement mt-3">
            <div class="col-12">
              <h2 class="card-title text-dark text-muted">About {{share?.name | uppercase}}</h2>
              <div [innerHtml]="share?.description"></div>
            </div>
          </div>

          <!-- <div class="row term-and-agreement mt-5">
            <div class="col-1">
              <label class="checkbox-container">
                <input type="checkbox" #terms checked="checked" (change)="termChecked(terms.checked)">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-11 pl-2">
              <p>I have read and accept the description, purchase conditions, and understand the
                <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
              </p>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
